@{
    ViewBag.Title = "Index";
    <script src="~/Scripts/home/home-controller.js"></script>
}

@*<div class="row" id="myCarousel">
    <div ng-controller="CarouselCtrl">
        <div>
            <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}">
                    <div class="carousel-caption">
                            <h4>Slide {{$index}}</h4>
                            <p>{{slide.text}}</p>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
</div>*@
