<h2>Welcome Admin..!!!!</h2>

<br />
<br />
<div class="row">
    <div class="col-md-7">
        <div class="row dashboarddiv"><h3><a href="/Product/ViewProducts">Products</a></h3></div>
        <div class="row dashboarddiv"><h3><a href="/Customer/Index">Customers</a></h3></div>
        <div class="row dashboarddiv"><h3><a href="/Queries/Index">Queries</a></h3></div>
    </div>
    <div class="col-md-5">
        <div ac-chart="'pie'" ac-data="datachart" ac-config="chartconfig" class='chart'></div>
    </div>
</div>
