<div class="row" id="myCarousel">
    <div>
        <div>
            <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}">
                    <div class="carousel-caption">
                        <!--<h4>Slide {{$index}}</h4>
                        <p>{{slide.text}}</p>-->
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 thumbnail homepageimages">
        <img src="../Content/Images/homepageimg/homeimg1.jpg" />
        <a href="Store/Browse?category=Electronics" class="btn btn-danger col-md-offset-3">View Similar Products</a>
    </div>
    <div class="col-md-4 thumbnail homepageimages">
        <img src="../Content/Images/homepageimg/homeimg1.jpg" />
        <a href="Store/Browse?category=Electronics" class="btn btn-danger col-md-offset-3">View Similar Products</a>
    </div>
    <div class="col-md-4 thumbnail homepageimages">
        <img src="../Content/Images/homepageimg/homeimg1.jpg" />
        <a href="Store/Browse?category=Electronics" class="btn btn-danger col-md-offset-3">View Similar Products</a>
    </div>
</div>

<div class="row">
    <div class="col-md-4 thumbnail homepageimages">
        <img src="../Content/Images/watches/watch4.jpeg" />
        <a href="Store/Browse?category=Watches" class="btn btn-danger col-md-offset-3">View Similar Products</a>
    </div>
    <div class="col-md-4 thumbnail homepageimages">
        <img src="../Content/Images/watches/watch6.jpeg"  />
        <a href="Store/Browse?category=Watches" class="btn btn-danger col-md-offset-3">View Similar Products</a>
    </div>
    <div class="col-md-4 thumbnail homepageimages">
        <img src="../Content/Images/watches/watch6.jpeg"  />
        <a href="Store/Browse?category=Watches" class="btn btn-danger col-md-offset-3">View Similar Products</a>
    </div>
</div>

<footer class="k-grid-footer">
    <p class="modal-footer glyphicon-copyright-mark">Copyright @SpendThrift.Com</p>
</footer>


