@{
    ViewBag.Title = "OrderConfirmed";
}

<h1 class="text-danger">Order Confirmed: Your Order Number Is @TempData["OrderID"]</h1>

<img src="~/Content/Images/Others/confirmation.png" height="300px" width="300px"/>
<footer class="modal-footer">
    <h2 class="text-danger">Thank you for Shopping With Us</h2>
    <h2 class="text-danger">Regards, SpendThrift.com</h2>
</footer>
