body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #F0F8FF;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/*My Own CSS for App below*/

#myCarousel img
{
    height: 500px;
    margin: auto;
}


.ebayItemsDiv
{
    background-color : white;
    margin: 10px;
    border: 2px solid #9bc2cf;
}

.ebayItemsDiv img
{
    height: 280px;
    width: 220px;
}
.ebayItemsDiv a
{
    margin-left: 60px;
    margin-bottom: 5px;
}

.chart
{
    width : 400px;
    height: 400px;
}

.homepageimages
{
    background-color: white;
    margin-top: 25px;
}

.dashboarddiv
{
    width: 130px;
    height: 70px;
    background-color: blue;
    color: white;
    margin: 10px;
}

.dashboarddiv h3 a 
{
    text-decoration: none;
    margin: 5px;
}

